body{
    background: linear-gradient(to right, blue, lightblue, blue );
}

#money{
    height: 100px;
    width: 100%;
    background: rgb(209, 244, 253);
    border-radius: 20px;
    justify-content: center;
}

#capacidade_max{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#money_value{
    padding-top: 20px;
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    display: absolute;
    padding-top: 20px;
}

#ganhar_por_click,#upgrade_gpk{
    width: 49%;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(to right, lightblue, blue, lightblue);
}

#aumentar_capacidade{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(to right, lightblue, blue, lightblue);
    margin-top: 5px;
}

#ganhar_por_click:hover,#upgrade_gpk:hover,#aumentar_capacidade:hover{
    cursor: pointer;
}

#ganhar_por_click:active,#upgrade_gpk:active,#aumentar_capacidade:active{   
    background: lightblue;
    transition: 0.2s;
}

#limite_alerta{
    background: lightgreen;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}